
.MainPageGrid {
	background-color: black;
	display: grid;
	height: 100%;
	grid-template-columns: 200px auto;
	grid-template-rows: 50px auto;
	grid-auto-columns: 1fr;
	gap: 1px 1px;
	grid-auto-flow: row;
	grid-template-areas:
	  "menu header"
	  "menu main";
  }

  .menu { grid-area: menu;
	background-color: #30224e;

}

  .header { grid-area: header;
	background-color: #201d27;
}

  .main { grid-area: main;
background-color: #201d27; }
