@use 'Colors.scss' as *;

html, body,#root, .App {
	height: 100%;
	width:100%;
	background-color: var(--Back_Color);
	// background-color:  $white_back;
}

.light {
	.text{
		color: #0B0E1D;
	}
	.background{
		background-color: $white_back;
	}
	.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
		border-color: black!important;
	}
}

.dark{
	.LogoTitlePart1{
		text-shadow: 0 0 20px rgb(255, 0, 0);
	}
	.LogoTitlePart2 {
		text-shadow: 0 0 20px rgb(52, 52, 255);
	}
	.text{
		$test: #3b4b9b !global;
		color: #F2F2F2;
	}
	.background {
		background-color: $dark_back;
	}
	.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
		border-color: $rose_fonce!important;
		box-shadow: 0 0 0.5vw rgb(255, 52, 52);
	}
	.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
		color: $white_back;
	}
}


body{
	background-color: $white_back;
	// overflow: hidden;
	overflow-x: hidden;
  	height: 100%;
  	width:100%;
}



.App{
  height:100%;
  background-color: #FFADD5;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MainTitle {
  display: inherit;
  align-items: center;
  margin-bottom: 2em!important;
  margin-top: 2em!important;
}

.fakeLogo {
  width  : 50px;
  height : 50px;
  background : #FFADD5;
  margin: 0 2em 0 2em;
}

.LogoTitlePart1 {
	font-style: normal;
    font-weight: 700;
    font-size: 3.25rem !important;
    /* identical to box height */

    letter-spacing: -0.05em;

    /* color: #FFADD5; */
    color: #FFADD5!important;
    /* text-shadow: 0 0 3vw rgb(255, 52, 52); */
    font-family: 'Arial Rounded MT Bold'!important;
    /* color: #73B0D3 !important; */
  
}

.LogoTitlePart2 {
    font-style: normal;
    font-weight: 700;
    font-size: 3.25rem !important;

    letter-spacing: -0.05em;

    /* color: #73B0D3; */
    color: #73B0D3!important;
    /* text-shadow: 0 0 3vw rgb(52, 52, 255); */
    font-family: 'Arial Rounded MT Bold'!important;
}

#liste {
	position: absolute;
}

@media screen and (max-width:1200px) {
	.fakeLogo {
	width  : 45px;
	height : 45px;
  }
  
  .LogoTitlePart1 {
	font-size: 2.8rem !important;
	
  }
  
  .LogoTitlePart2 {
	font-size: 2.8rem !important;
  }
}

@media screen and (max-width:900px) {
	.fakeLogo {
	width  : 35px;
	height : 35px;
  }
  
  .LogoTitlePart1 {
	font-size: 2.3rem !important;
	
  }
  
  .LogoTitlePart2 {
	font-size: 2.3rem !important;
  }
}

@media screen and (max-width:500px) {
	.fakeLogo {
		width  : 20px;
		height : 20px;
		background : #FFADD5;
		margin: 0 2em 0 2em;
	  }
	  .LogoTitlePart1{
		font-size: 30px!important;
		
	  }
	  
	  .LogoTitlePart2 {
		font-size: 30px!important;
	  }
	
}