html, body,#root, .App {
  height: 100%;
  width:100%;
  /* background-color: #0B0E1D; */
  background-color: #F2F2F2;
}

.App{
  height:100%;
  background-color: #FFADD5;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MainTitle {
  display: inherit;
  align-items: center;
  margin-bottom: 7em!important;
  margin-top: 2em!important;
}

.fakeLogo {
  width  : 60px;
  height : 60px;
  background : #FFADD5;
  margin: 0 2em 0 2em;
}

.TitlePart1 {
  color: #73B0D3!important;
  
}

.TitlePart2 {
  color: #FFADD5!important;
}