#Back_Anime div{

	position: absolute;
	top: 0;
	left: 0;
}

#Back_Anime div:nth-child(1){

	animation: animate 10s linear infinite;
}

#Back_Anime div:nth-child(2){
	animation: animate 13s linear infinite;
}

#Back_Anime div:nth-child(3){
	animation: animate 16s linear infinite;
}

#Back_Anime div:nth-child(4){
	animation: animate 7s linear infinite;
}

#Back_Anime div:nth-child(5){
	animation: animate 8s linear infinite;
}

#Back_Anime div:nth-child(6){
	animation: animate 12s linear infinite;
}

#Back_Anime div:nth-child(7){
	animation: animate 9s linear infinite;
}

#Back_Anime div:nth-child(8){
	animation: animate 6s linear infinite;
}

#Back_Anime div:nth-child(9){
	animation: animate 14s linear infinite;
}

#Back_Anime div:nth-child(10){
	animation: animate 9s linear infinite;
}

#BackPic{
	width: 50px;
	height: 50px;
}

@keyframes animate{
	0%{
		top: -10%
	}
	100%{
		top: 110%
	}
}