.ChatCard{
	background-color: blue;
	padding: 5px;
	height:10%;
	aspect-ratio:4/1; /*change to 1/1 to reduce*/
	border-radius: 10px;
	overflow:hidden;
}
.horizontalChat{
	height:100%;
	display:flex;
	flex-direction: row;

}
.verticalChat{
	height:100%;
	width:100%;
	display:flex;
	flex-direction: column;
}

.imgChat{
	background-color:white;
	height:100%;
	aspect-ratio:1/1;
	border-radius: 9999px;
	margin-right: 5px;
}
.ChatPrev{
	background-color:grey;
	height:100%;
	width:100%;
	border-radius: 5px 5px 5px 0;
}
