@use '../styles/Colors.scss' as *;


.dark{
	.css-1hbvpl3-MuiSvgIcon-root{
		color: $bleu_fonce;
	}
	.css-i4bv87-MuiSvgIcon-root{
		color: $rose_fonce;
	}

	.css-vj1n65-MuiGrid-root{
		color: $white_back;
	}

	#demo-radio-buttons-group-label{
		color: $white_back;
	}
	.css-qivjh0-MuiStepLabel-label {
		color: $white_back;
	}
	.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
		// color: #d900ff;
		border-radius: 100%;
		border: 1.5px solid transparent;
	}
	.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
		// color: #d900ff;
		border-radius: 100%;
		border: 1.5px solid transparent;
	}
	.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root{
		// color: #d900ff;
		border-radius: 100%;
		border: 1.5px solid $white_back;
	}

	.ButtonNextEnable {
		border: 2px solid $bleu_fonce;
		background-color: rgba(255, 122, 89, .0)!important;
		box-shadow: 0 0 5px rgb(52, 52, 255);
		cursor: pointer;

	}

}

.ButtonNextEnable {
    color: white!important;
    background-color: #73B0D3!important;
    margin-right: 11em!important;
    height: 3em;
}

.ButtonNextDisable {
    color: white!important;
    background-color: #a8a8a8!important;
    margin-right: 11em!important;
    height: 3em;
}

.ButtonBack {
    color: white!important;
    background-color: #FFADD5!important;
    margin-left: 10em!important;
    height: 3em;
}

.Stepper {
    width : 70%;
    margin: auto;
}

.GenreInteresse {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.BirthdayDate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em!important;
    margin-bottom: 8em!important;
}

.ButtonNextDiv {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em!important;
}

.ButtonBackDiv {
    display: flex;
}

.ButtonDiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    width: 100%;
}

.TitleGenre, .TitleTags {
    font-size: 2em!important;
    color : #7A7A7A;
}

.TitleInteressePar {
    font-size: 2em!important;
    width: 6em;
    color : #7A7A7A;
}

.css-qivjh0-MuiStepLabel-label.Mui-completed {
    color: #FFADD5!important;
}

.css-qivjh0-MuiStepLabel-label.Mui-active {
    color: #73B0D3!important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #73B0D3!important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #FFADD5!important;
}

.TitlePhoto {
    font-size: 3em!important;
    color : #7A7A7A;
}

.PhotoGrid {
    display: flex;
    flex-direction: column!important;
    align-items: center;
}

.Photo {
    display: flex;
    /* justify-content: center;
    align-items: center;
    margin: auto; */
}

.PhotoGridTitle, .TagsGridTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PhotoGridButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 599px) {
    .PhotoGridButton {
        display: block;
    }
    .PhotoGrid {
        flex-direction: row!important;
        justify-content: space-evenly;
    }
}

.ButtonPhotoPP {
    background-color: #73B0D3!important;
    width: 120px;
    height: 104px;
    margin-bottom: 2em!important;
}

.ButtonPhoto {
    background-color: #D9D9D9!important;
    width: 120px;
    height: 104px;
    border: none!important;
    margin-bottom: 2em!important;
}

.AddIcon {
    color: white!important;
    width: 78px!important;
    height: 70px!important;
}

.FormPhoto {
    width: 100%;
    /* margin-top: 4em;
    margin-left: 2em; */
    margin: 4em 0 8em 3em;
}
.columnModal{
}

.ModalPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 520px;
    background-color: #F2F2F2;
    /* border: 2px solid #000; */
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 9px 10px rgba(0, 0, 0, 0.14), 0px 5px 14px rgba(0, 0, 0, 0.12) !important;
    border-radius: 10px;
    border: none
    /* p: 4; */
}

.GridModal {
    display: flex;
    flex-direction: column !important;
    -webkit-flex-direction: column !important;
    justify-content: center;
    align-items: center;
}
.gridModalButtons{

    display: flex;
    flex-direction: row !important;
    -webkit-flex-direction: row !important;
    justify-content: center;
    align-items: center;
}

.checkBoxTags{
    margin: 10px;
    background-color: aliceblue;
    width: 22%;
    border-radius: 999px;
    padding-left: 15px;
}
.checkBoxesContainer{
    width: 60% !important;
    justify-content: center !important;
}

.TagsGridCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.CardTagsCheckBox {
    border: solid;
    background-color: #F2F2F2!important;
    border-color: #BABABA!important;
    box-shadow: none!important;
    margin-bottom: 2em;
    max-width: 20vh;
}

.Grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}