@use '../styles/Colors.scss' as *;

.dark{
	.GeeTitlePart1{
		text-shadow: 0 0 20px rgb(255, 0, 0);
	}
	.CoeurTitlePart2 {
		text-shadow: 0 0 20px rgb(52, 52, 255);
	}
	#username-label{
		color: $white_back;
	}
	
	#password-label{
		color: $white_back;
	}

	.ButtonConnexion {
		border: 2px solid $bleu_fonce;
		background-color: rgba(255, 122, 89, .0)!important;
		box-shadow: 0 0 5px rgb(52, 52, 255);
		cursor: pointer;

	}
	
	.ButtonInscription {
		border: 2px solid $rose_fonce;
		background-color: rgba(255, 122, 89, .0)!important;
		box-shadow: 0 0 5px rgb(255, 0, 0);
		cursor: pointer;
	}

}

.Title {
    display: inherit;
    align-items: center;
    margin-bottom: 4em !important;
    margin-top: 5em !important;
    justify-content: center;
    font-family: 'Arial Rounded MT Bold'!important;
    font-weight: bold;
}

.GeeTitlePart1 {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    /* identical to box height */

    letter-spacing: -0.05em;

    /* color: #FFADD5; */
    color: #FFADD5!important;
    // text-shadow: 0 0 20px rgb(255, 0, 0);
    font-family: 'Arial Rounded MT Bold'!important;
}

.CoeurTitlePart2 {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;

    letter-spacing: -0.05em;

    /* color: #73B0D3; */
    color: #73B0D3!important;
    // text-shadow: 0 0 20px rgb(52, 52, 255);
    font-family: 'Arial Rounded MT Bold'!important;
}

.InputForm {
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
}

.InputFormLogin {
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.ConnexionInscriptionButton {
    display: inherit;
    align-items: center;
    justify-content: center;
}

.ButtonConnexion {
    color: white!important;
    background-color: #73B0D3!important;
    margin-right: 1em!important;
}

.ButtonInscription {
    color: white!important;
    background-color: #FFADD5!important;
}

.ForgetPassword, .DivButtonForgotPassword {
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
}

.ButtonPassword {
    font-size: small!important;
    color : #7A7A7A!important;
}

.ButtonForgotPassword {
    color: white!important;
    background-color: #73B0D3!important;
    margin-right: 1em!important; 
    margin-top: 1em!important; 
}

.TitlePasswordForget {
    display: flex;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em !important;
    margin-top: 3.5em !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.TitlePasswordForgetTypo {
    color : #7A7A7A;
}

.LinkSubscription {
	text-decoration: none;
    color: white;
}